body{
    width: 100%;

}

.div-iphone-title{
    width: 100%;
    margin-top: 45px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #b1b1b1;

}

.iphone-title{
    width: 1000px;
    padding: 15px 0 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.iphone-title h1{
    color: #1d1d1f;
    font-size: 20px;

}

.div-title-op{
    display: flex;
    align-items: center;
    height: 100%;

}

.div-title-op p{
    padding: 0 10px 0 10px;
    font-size: 13px;
    color: #1d1d1f;

}

input[type=button]{
    background-color: #0071e3;
    color: white;
    border: none;
    padding: 5px 17px 5px 17px ;
    border-radius: 20px;
    margin: 0 0px 0 10px;
    cursor: pointer;


}

.div-discont{
    width: 100%;
    height: 50px;
    background-color: #f5f5f7;

}

.div-discont h1{
    color: rgb(85, 85, 85);
    font-size: 14px;
    text-align: center;
    line-height: 50px;
    font-weight: normal;

}

.div-discont a{
    color: #06c;
    text-decoration: none;

}

.div-discont a:hover{
    text-decoration: underline;

}

.div-discont span{
    color: #06c;

}

.div-apre-iphone{
    width: 100%;
    height: 950px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.div-apre-title{
    width: 100%;
    height: 250px;
    font-size: 30px;
    padding-top: 90px;
    text-align: center;
}

.div-apre-title p{
    font-size: 27px;
    padding-bottom: 15px;
    font-weight: 400;

}

.div-apre-title h1{
    font-size: 70px;
    font-weight: 500;

}

.div-apre-img{
    position: absolute;
    bottom: 0;
    right: 0;

}

.div-sy-camera{
    width: 100%;
    height: 1400px;
    background-color: #1d1d1f;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;

}

.div-sy-txt{
    width: 1000px;

}

.div-sy-txt h1{
    font-size: 80px;
    padding-top: 85px;
    font-weight: 500;
    color: white;

}

.div-sy-txt p{
    font-size: 25px;
    font-weight: 500;
    padding: 0 10px 0 10px ;
    color: white;

}

.div-sy-txt-price{
    padding-top: 40px;
    font-size: 40px;
        
}


.div-sy-txt-price-link{
    display: flex;
    align-items: center;

}

.div-sy-txt-price-link i{
    color: white;
    font-size: 20px;

}

.div-sy-txt-price-link a{
    text-decoration: none;
    color: white;

}

.div-sy-txt-price-link a:hover{
    text-decoration: underline;

}

.div-iphone-pol{
    width: 100%;
    height: 900px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;

}

.div-iphone-pol-container{
    width: 1000px;
    height: 100%; 

}

.div-iphone-pol-container-flexcut{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.div-iphone-pol-txt p{
    font-weight: 500;

}

.div-iphone-pol-txt h1{
    font-size: 40px;
    font-weight: 500;

}

.div-iphone-pol-txt-xdr{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;

}

.div-iphone-pol-txt-xdr p{
    font-weight: 500;
    font-size: 18px;

}

.div-galery-iphone{
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;

}

.div-galery-iphone-img-text{
    width: 50%;
    height: 100%;

}

.div-galery-iphone-ba-img{
    width: 50%;
    height: 100%;
    background-color: #000000;
    position: relative;

}

.div-galery-iphone-img{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.div-galery-iphone-txt{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;

}

.div-galery-iphone-txt-container{
    width: 250px;
    height: 100%;

}

.div-galery-dots{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.dot{
    width: 25px;
    height: 25px;
    border-radius: 250px;
    margin: 0 7px 0 7px;
    cursor: pointer;

}

.dot:hover{
    border: 2px solid rgb(27, 133, 240);

}

.div-galery-iphone-txt-space{
    width: 100%;
    height: 50%;


}

.div-galery-iphone-txt-camp{
    display: flex;
    justify-content: center;

}

.div-galery-iphone-txt-camp p{
    font-size: 20px;
    color: #bcbcbe;
    padding-left: 5px;
    font-weight: 500;

}

.div-galery-iphone-ba-img-space{
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    bottom: 0;

}

.div-galery-iphone-ba-img-space img{
    transform: translate(0,);

}

.div-galery-iphone-ba-img-space2{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    bottom: 0;

}

.div-galery-iphone-nodots{
    width: 50%;
    height: 100%;

}

.div-galery-iphone-nodots-img{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.div-galery-iphone-nodots-img-text{
    width: 100%;
    height: 10%;
    text-align: center;

}

.div-galery-iphone-nodots-img-text p{
    font-size: 20px;
    color: #1d1d1f;
    padding-left: 5px;
    font-weight: 500;

}

.div-img-txt{
    background-color: #fbfbfd;

}

.div-iphone-ipx{
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;

}

.div-iphone-ipx-container{
    width: 1000px;
    height: 100%;
    overflow: hidden;

}

.div-iphone-ipx-txt{
    text-align: center;
    padding: 30px 0 30px 0;

}

.div-iphone-ipx-txt p{
    font-weight: 500;
    font-size: 19px;

}

.div-iphone-ipx-img{
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;

}

.div-iphone-nano-1-text{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 0 100px 0;

}

.div-iphone-nano-container{
    width: 1000px;
    height: 100%;

}

.div-iphone-nano-txt p{
    font-size: 80px;
    padding-top: 85px;
    font-weight: 500;
    color: #86868b;

}

.div-iphone-nano-txt a{
    text-decoration: none;
    color: #1d1d1f;

}

.div-iphone-nano-2-img{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 150px;

}

.div-iphone-nano-img-container{
    width: 1700px;
    display: flex;
    justify-content: left;

}

.div-iphone-nano-geral{
    background-color: #fbfbfd;

}

.div-macro-galery{
    width: 100%;
    display: flex;
    justify-content: center;

}

.div-macro-galery-container{
    width: 1360px;
    padding-top: 150px;

}

.div-macro-img-one{
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;

}

.div-macro-img-one img{
    width: 100%;

}

.div-macro-txt-one{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: space-between;

}

.macro-txt-large{
    width: 50%;
    height: 100%;
    text-align: center;

}

.macro-txt-large h1{
    font-size: 130px;
    font-weight: 500;
    padding-top: 70px;

}

.macro-txt-small{
    width: 45%;
    height: 100%;

}

.macro-txt-small-title{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: flex-end;
    padding: 70px 0 0 0;

}

.macro-txt-small-title h1{
    padding-bottom: 30px;
    font-weight: 500;
    font-size: 35px;

}

.macro-txt-small-paragaph{
    width: 100%;
    height: 60%;

}

.macro-txt-small-paragaph p{
    width: 430px;
    font-size: 20px;
    color: #6e6e73;
    font-weight: 500;

}

.div-macro-img-two{
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;

}

.div-macro-img-two img{
    width: 100%;

}

.div-macro-txt-two{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;

}

.div-macro-txt-pine-corp-1{
    width: 40%;
    height: 100%;   
    display: flex;
    justify-content: center;
    align-items: center;

}

.div-macro-txt-pine-corp-1 h1{
    font-size: 35px;

}

.div-macro-txt-pine-corp-2{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.div-macro-txt-pine-corp-2 p{
    font-size: 20px;
    color: #6e6e73;
    font-weight: 500;

}

/*--GALERY-NIGTH--*/

.div-night-backcolor{
    width: 100%;
    display: flex;
    display: flex;
    justify-content: center;
    background-color: black;

}

.div-galery-night-container{
    width: 1360px;
    padding-top: 150px;
    padding-bottom: 150px;

}

.div-galery-night-part-title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.div-galery-night-part-img-title{
    width: 50%;

}

.div-galery-night-part-txt-title{
    width: 50%;
    color: white;
    padding-left: 50px;

}

.div-galery-night-part-txt-title h1{
    color: white;
    font-size: 130px;
    padding-bottom: 20px;

}

.div-galery-night-part-txt-title p{
    font-size: 20px;
    color: #6e6e73;
    font-weight: 500;
    width: 550px;

}

/*--fim titulo galeria*/

.div-galery-night-part{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.div-galery-night-part-img{
    width: 50%;
    overflow: hidden;

}

.div-galery-night-part-txt{
    width: 50%;
    display: flex;
    padding: 0 50px 0 0;
    justify-content: center;

}

.div-galery-night-part-txt h1{
    color: white;
    font-size: 60px;

}

.div-galery-night-part-txt p{
    font-size: 20px;
    color: #6e6e73;
    font-weight: 500;

}

/*FIM GALERIA NIGHT*/

.div-galery-white{
    width: 100%;
    display: flex;
    justify-content: center;

}

.div-galery-white-container{
    width: 1360px;
    padding-top: 150px;

}

.div-galery-white-part{
    width: 100%;
    display: flex;
    padding: 10px 0 10px 0;
}


/*ONE GALERY*/

.div-galery-white-part-img-one{
    width: 50%;
    display: flex;
    justify-content: right;
}

.div-galery-white-part-txt-one{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.div-galery-white-part-txt-one h1{
    font-size: 100px;
    padding-bottom: 20px;

}

/*END ONE GALERY*/

/*TWO GALERY*/

.div-galery-white-part-img-two{
    width: 60%;
    display: flex;
    overflow: hidden;
}

.div-galery-white-part-txt-two{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.div-galery-white-part-txt-two h1{
    font-size: 100px;
    padding-bottom: 20px;

}

.div-galery-white-part-txt-two p{
    font-size: 20px;
    color: #6e6e73;
    font-weight: 500;
    width: 300px;

}

/*END TWO GALERY*/

/*TREE GALERY*/

.div-galery-white-part-end{
    width: 100%;
    display: flex;
    padding: 10px 0 10px 0;

}

.div-galery-white-part-img-end{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.div-galery-white-part-txt-end{
    width: 50%;

}

.part-txt-end{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    padding-left: 70px;

}

.part-txt-end h1{
    font-size: 60px;
    font-weight: 500;

}

.part-txt-end p{
    font-size: 20px;
    color: #6e6e73;
    font-weight: 500;

}




/*END TREE GALERY*/

.div-cinematic{
    width: 100%;
    display: flex;
    justify-content: center;

}

.div-cinematic-container{
    width: 1360px;
    padding: 300px 0 0 0;

}

.div-cinematic-title{
    font-size: 60px;
    display: flex;
    justify-content: center;

}

.div-cinematic-subtitle{
    display: flex;
    justify-content: center;

}

.div-cinematic-subtitle p{
    font-size: 40px;
    font-weight: 500;
    padding-left: 400px;

}

.div-cinematic-img{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 200px;

}

.div-cinematic-img-paragraph{
    width: 100%;
    display: flex;
    justify-content: center;

}

.div-cine-paragraph-container{
    width: 60%;
    height: 100%;
    display: flex;

}

.cine-paragraph-part{
    width: 50%;
    height: 100%;
    padding-top: 60px;

}

.cine-paragraph-part h1{
    font-size: 25px;
    font-weight: 500;
    padding: 0 0 50px 0;

}

.cine-paragraph-part p{
    font-size: 20px;
    color: #6e6e73;
    font-weight: 500;
    width: 350px;

}

.div-cinematic-camera{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 150px 0 150px 0;

}

.div-camera-de-cinema{
    width: 70%;
    height: 370px;
    background-color: #f5f5f7;

}

.div-camera-de-cinema-one{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.div-camera-de-cinema-one h1{
    text-align: center;
    font-size: 35px;

}

.div-camera-de-cinema-second{   
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.div-cinematic-button{
    border: 2px solid black;
    border-radius: 250px;
    cursor: pointer;
    transition: 0.5s;

}

.div-cinematic-button:hover{
    color: white;
    background-color: black;

}

.div-camera-de-cinema-second p{
    font-size: 17px;
    padding: 10px;
    cursor: pointer;

}

.div-person-camera{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #FBFBFD;

}

.div-person-camera-container{
    width: 1360px;
    padding: 150px 0 150px 0;

}

.div-person-camera-corp{
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.div-person-camera-txt{
    display: flex;
    align-items: center;
    padding-left: 40px;

}

.div-person-camera-txt p{
    font-size: 40px;

}

.div-person-camera-txt h1{
    font-size: 110px;

}

.div-person-galery{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #FBFBFD;

}

.div-person-galery-container{
    width: 1360px;
    padding: 0 0 250px 0;

}

.div-person-galery{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px 0 10px 0;

}

.div-person-galery-img{
    width: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;

}

.div-person-galery-txt{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.div-person-galery-txt-alight{
    width: 70%;

}

.div-person-galery-txt-alight h1{
    font-size: 45px;
    font-weight: 500;
    color: #1D1D1F;
    padding: 0 0 50px 0;

}

.div-person-galery-txt-alight h2{
    font-size: 45px;
    font-weight: 500;
    color: #1D1D1F;
    padding: 15px 0 15px 0;

}

.div-person-galery-txt-alight p{
    font-size: 20px;
    color: #6e6e73;
    font-weight: 500;

}


@media screen and (max-width: 1920px){
    .div-galery-iphone-ba-img-space{
        justify-content: left;

    }       

    .div-galery-iphone-ba-img-space img{
        transform: translate(+20%,+5%);
    
    }

    .div-iphone-nano-2-img img{
        padding: 0 0 0 50px;

    }

}